.myForm{
    margin: 0 auto;
    border: 1px solid rgb(131, 123, 123);
    border-radius: 4px;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    height: 50px;
    width: 80%;
    margin: 5px;
    border: 0.1px solid lightgray;
    border-radius: 4px;
}
input:focus{
    outline-color: grey;
}

.add{
    background-color: grey;
    color: white;
    border: none;
    width: 60%;
    height: 50px;
    border-radius: 4px;
    margin-top: 40px;
}

@media (max-width: 512px) {
    .myForm{
        width: 300px;
    }
}

