.mainCard{
    width: 250px;
    height: 300px;
    border: none;
    margin: 10px;
    -webkit-box-shadow: 3px 6px 31px -8px rgba(211,211,211,1);
-moz-box-shadow: 3px 6px 31px -8px rgba(211,211,211,1);
box-shadow: 3px 6px 31px -8px rgba(211,211,211,1);
}
.cardimg{
    height: 60%;
    width: 100%;
}
.cardbtn{
    cursor: pointer;
    margin-top: 10px;
    width: 60%;
    height: 30px;
    border-radius: 4px;
    color: white;
    background-color: grey;
    border: none;
    font-size: 12px;
    font-weight: bold;
}
.cardTitle{
    color: grey;
    font-size: 20px;
}
.btnContainer{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 568px) {
    .mainCard{
        width: 150px;
        height: 200px;
        margin: 10px 2px;
    }
    .btnContainer{
        margin-top: 2px;
    }
    .cardTitle{
        font-size: 15px;
    }
    .cardbtn{
        margin-top: 2px;
    }
    
}