.productMain{
  position: relative;
}

  .addbtn{
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-align: center;
    padding: 20px;
    width: 20px;
    color: white;
    background-color: grey;
    border-radius: 50%;
  }
  